    
@font-face{

    font-family: DV;
    src:url('../fonts/CaviarDreams.ttf');

}
@font-face{
  font-family: CV;
  src:url('../fonts/Champagne&Limousines.ttf');
}
@font-face{
  font-family: myFont;
  src: url('../fonts/WalkwaySemiBold.ttf');
}

a{
	font-family: CV;
}

input{

	padding-right:3%;
	font-family: CV;


}
header .jumbotron{
	background-color: black;
	background-image:url('../img/classicCar3.jpg'); 
	background-repeat:no-repeat;
	background-size:contain;
	background-attachment: fixed;
	padding: 5%;
	padding-bottom: 0;		
}
fieldset{
	width: 20%;
}
.jumbotron h1	{
	
	font-family: DV;
	color: white;
	letter-spacing: 10px;
	font-size: 100px;
	width: 35%;
}
.jumbotron h3	{
	font-family: CV;
	font-size: 17px;
}
.backAndEditbtn{


	 color: black;    
    background-color: Transparent;
    background-repeat:no-repeat;   
  	 font-size: 13px;
     padding: 5px 10px;
     border: solid black 1px;	

 }
textarea{
	resize: none;
	width: 50%;
	height: 150px;
}
/* input file    */
	



/* input file    */

